* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper::after{
    clear:both;
    content:"";
    display:table;

}


.container{
    width: 1200px;
    margin:auto;
}

body{
    font-family: sans-serif;
}


.sidebar {
    height:calc(100vh - 80px);
    background-color: #2b270c;
    width: 12%;
    float: left;
    display: flex;

    /* flex-shrink: 2; */
}
.sidebar-top {
    flex-direction: column;
    color: white;
    margin-left: 20px;
    font-size: 18px;
    padding-top: 18px;
    display: flex;
    align-items: flex-start;
}

.logo{
    width: 100px;
    padding-bottom: 20px;

}
.logo-piccolo {
    display:none;

}

.icone {
    color:white;
    margin-top: 10px;
}

.fa-spotify:before {
    display: none;
}

.paragrafo {
    padding-left: 10px;
    font-size: 11px;
    font-family: sans-serif;
    font-weight:100px;
    opacity: 0.7;
}

.side-maiuscolo {
    margin-top: 8px;
    text-transform: uppercase;
    color:white;
    font-size: 10px;
    opacity:0.7;
}

.side-mainuscolo {
    margin-top: 8px;
    color:white;
    font-size: 10px;
    opacity:0.7;
}

.sotto-menu{
    margin-top: 20PX;
}
.sidebar-bottom {
    /* display: flex;
    align-items: flex-end; */

}
.install {
    color:white;
    padding-top: 280px;
    font-size: 12px;
    opacity: 0.7;
    border-bottom: 1px solid white;
    padding-bottom: 5px;

}
.fa-user:before {
    content: "\f007";
    font-size: 27px;
    color: white;
    padding-top: 5px;
}
.copy {
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding-top: 5px;
}

main {
    height:calc(100vh - 80px);
    background-color: #c18c16;
    width: 88%;
    float: left;
    overflow:auto;

}

.menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;

}

.voci-menu-top{
    margin-left: 40px;
    margin-top: 30px;
    color:white;
    font-size: 12px;
    font-weight: bold;

}

.hamburger-menu {
    display: none;
}

.title-playlist {
    display:flex;
    /* margin-left: 158px; */
    margin-top: 38px;

}

.title-playlist > h1{
    color: white;
    font-size: 25px;
}
.daily-mix {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;


}
 .daily-mix > img  {
    width: 150px;
    margin-left: 35px;
    margin-top: 30px;
}

.round {
    border-radius: 70px;
    flex-wrap: wrap;
}

.cube{
    margin-top: 40px;
    flex-wrap: wrap;
}


footer {
    height: 80px;
    width: 100%;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-between;

}

.left{
/* width: 200px; */
display: flex;
}
.cover{
/* width: 100px;
background-color:red; */
padding:10px;
}

.artist {
/* width: 200px; */
/* background-color:green; */
padding:10px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.music-name{
color: white;
font-size: 10px;
}

.artist-name{
color: white;
opacity: 0.7;
font-size: 10px;
}

.heart i{
display: block;
/* background-color:yellow; */
line-height: 84px;
color:white;
/* height:100%;<} */
}

.center{
width: 500px;
/* background-color:green; */
}

.controls{
/* background-color:blue; */
height: 45px;
text-align: center;
}
.icons i{
display: inline-block;
font-size:20px;
padding:18px 5px;
margin-left: 20px;
line-height: 24px;
color: white;
opacity: 0.5;
}

.icons i:first-child{
margin:0;
}
.icons .fa-pause {
border:1px solid white;
border-radius: 50%;
width:38px;
height: 38px;
padding:8px;
}

.time{
color:white;
font-size: 12px;
padding-top: 14px;
opacity:0.5;
}

.right{
width: 200px;
/* background-color:pink; */

}
.slidecontainer{
    /* background-color: brown; */
    height: 35px;
    text-align: center;
    padding-top: 7px;

}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 4px;
  border-radius: 5px;
  background:#aea5a5;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: 5s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


/* mediaquery tablet */

@media screen and (max-width:992px){

.wrapper::after{
        clear:both;
        content:"";
        display:table;

        }

    .container{
        max-width: 992px;
        margin:auto;
        }

    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .fa-bars:before {
        display: block;
        content: "\f0c9";
        color: white;
        margin-left: 10px;
        font-size: 30px;
    }

    .sidebar {
        height:calc(100vh - 80px);
        background-color: #2b270c;
        width: 20%;
        float: left;
        display: flex;
        /* flex-shrink: 2; */
        }

    main {
        height:calc(100vh - 80px);
        width: 80%;
        float: left;
        overflow: scroll;

        }
    .title-playlist {
        display:flex;
        /* margin-left: 158px; */
        margin-top: 38px;
        margin-left:20px;

        }

    .daily-mix {
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;

        }
    .daily-mix > img  {
        width: 120px;
        margin-left: 35px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .round {
        border-radius: 70px;
        flex-wrap: wrap;
    }

    .cube{
        margin-top: 40px;
        flex-wrap: wrap;
    }


    footer {
        height: 80px;
        width: 100%;
        background-color: #3f3f3f;
        display: flex;

        }


}

@media screen and (max-width:768px){

.wrapper::after{
    clear:both;
    content:"";
    display:table;

    }

.container{
    max-width: 768px;
    margin:auto;
    }

.menu {
    display: none;
}

.hamburger-menu {
    display: block;
}
.fa-bars:before {
    display: block;
    content: "\f0c9";
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

.sidebar {
    height:calc(100vh - 80px);
    background-color: #2b270c;
    width: 20%;
    float: left;
    display: flex;
    /* flex-shrink: 2; */
    }

main {
    height:calc(100vh - 80px);
    width: 80%;
    float: left;
    overflow: auto;

    }
.title-playlist {
    display:flex;
    /* margin-left: 158px; */
    margin-top: 38px;
    margin-left:20px;

    }

.daily-mix {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-shrink: 1;

    }
.daily-mix > img  {
    width: 100px;
    margin-left: 35px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.round {
    border-radius: 70px;
    flex-wrap: wrap;
}

.cube{
    margin-top: 40px;
    flex-wrap: wrap;
}
.install, .copy {
display:none;
}


footer {
    height: 80px;
    width: 100%;
    background-color: #3f3f3f;
    display: flex;

    }


}

/* media query cellulare */

@media screen and (max-width:420px){

.wrapper::after{
    clear:both;
    content:"";
    display:table;

        }

.container{
    max-width: 420px;
    margin:auto;
    }

.menu {
    display: none;
    }

.hamburger-menu {
    display: block;
    }
.fa-bars:before {
    content: "\f0c9";
    color: white;
    margin-left: 10px;
    font-size: 30px;
    }

.sidebar {
    height:calc(100vh - 40px);
    background-color: #2b270c;
    width: 20%;
    float: left;
    display: flex;
        /* flex-shrink: 2; */
        }
.sidebar-top{
    margin-top: 20px;
    margin-left: 20px;
}

.logo{
display: none;
}

.logo-piccolo {
display:block;
}
.fa-spotify:before {
    display: block;
    content: "\f1bc";
    color: white;
    font-size: 30px;
}

.paragrafo {
    display:none;
}

.sotto-menu{
display:none
 }

main {
    height:calc(100vh - 40px);
    width: 80%;
    float: left;
    overflow: auto;

        }
.title-playlist {
    display:flex;
    /* margin-left: 158px; */
    margin-top: 38px;
    margin-left:20px;

        }

.daily-mix {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 3;
        }

.daily-mix > img  {
    width: 80px;
    margin-left: 35px;
    margin-top: 30px;
    flex-wrap: wrap;
    flex-shrink: 3;

}
.round {
    border-radius: 70px;
    flex-wrap: wrap;
}

.cube{
    margin-top: 40px;
    flex-wrap: wrap;
}

.install, .copy {
display:none;
}



footer {
    height: 40px;
    width: 100%;
    background-color: #3f3f3f;
    display: flex;

        }

    }
