* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper::after{
    clear:both;
    content:"";
    display:table;

}


.container{
    width: 1200px;
    margin:auto;
}

body{
    font-family: sans-serif;
}


.sidebar {
    height:calc(100vh - 80px);
    background-color: #2b270c;
    width: 12%;
    float: left;
    display: flex;

    /* flex-shrink: 2; */
}
.sidebar-top {
    flex-direction: column;
    color: white;
    margin-left: 20px;
    font-size: 18px;
    padding-top: 18px;
    display: flex;
    align-items: flex-start;
}

.logo{
    width: 100px;
    padding-bottom: 20px;

}
.logo-piccolo {
    display:none;

}

.icone {
    color:white;
    margin-top: 10px;
}

.fa-spotify:before {
    display: none;
}

.paragrafo {
    padding-left: 10px;
    font-size: 11px;
    font-family: sans-serif;
    font-weight:100px;
    opacity: 0.7;
}

.side-maiuscolo {
    margin-top: 10px;
    text-transform: uppercase;
    color:white;
    font-size: 10px;
    opacity:0.7;
}

.sotto-menu {
margin-top: 10px;
    color:white;
    font-size: 10px;
    opacity:0.7;
}

.sidebar-bottom {
    display: flex;
    align-items: flex-end;
}


main {
    height:calc(100vh - 80px);
    background-color: #c18c16;
    width: 88%;
    float: left;
    overflow:auto;

}

.menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;

}

.voci-menu-top{
    margin-left: 40px;
    margin-top: 30px;
    color:white;
    font-size: 12px;
    font-weight: bold;

}

.hamburger-menu {
    display: none;
}

.title-playlist {
    display:flex;
    /* margin-left: 158px; */
    margin-top: 38px;

}

.title-playlist > h1{
    color: white;
    font-size: 25px;
}
.daily-mix {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;


}
 .daily-mix > img  {
    width: 150px;
    margin-left: 35px;
    margin-top: 30px;
}

.round {
    border-radius: 70px;
    flex-wrap: wrap;
}

.cube{
    margin-top: 40px;
    flex-wrap: wrap;
}


footer {
    height: 80px;
    width: 100%;
    background-color: #3f3f3f;
    display: flex;

}

/* mediaquery tablet */

@media screen and (max-width:992px){

.wrapper::after{
        clear:both;
        content:"";
        display:table;

        }

    .container{
        max-width: 992px;
        margin:auto;
        }

    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .fa-bars:before {
        display: block;
        content: "\f0c9";
        color: white;
        margin-left: 10px;
        font-size: 30px;
    }

    .sidebar {
        height:calc(100vh - 80px);
        background-color: #2b270c;
        width: 20%;
        float: left;
        display: flex;
        /* flex-shrink: 2; */
        }

    main {
        height:calc(100vh - 80px);
        width: 80%;
        float: left;
        overflow: scroll;

        }
    .title-playlist {
        display:flex;
        /* margin-left: 158px; */
        margin-top: 38px;
        margin-left:20px;

        }

    .daily-mix {
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;

        }
    .daily-mix > img  {
        width: 120px;
        margin-left: 35px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .round {
        border-radius: 70px;
        flex-wrap: wrap;
    }

    .cube{
        margin-top: 40px;
        flex-wrap: wrap;
    }


    footer {
        height: 80px;
        width: 100%;
        background-color: #3f3f3f;
        display: flex;

        }


}

@media screen and (max-width:768px){

.wrapper::after{
    clear:both;
    content:"";
    display:table;

    }

.container{
    max-width: 768px;
    margin:auto;
    }

.menu {
    display: none;
}

.hamburger-menu {
    display: block;
}
.fa-bars:before {
    display: block;
    content: "\f0c9";
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

.sidebar {
    height:calc(100vh - 80px);
    background-color: #2b270c;
    width: 20%;
    float: left;
    display: flex;
    /* flex-shrink: 2; */
    }

main {
    height:calc(100vh - 80px);
    width: 80%;
    float: left;
    overflow: auto;

    }
.title-playlist {
    display:flex;
    /* margin-left: 158px; */
    margin-top: 38px;
    margin-left:20px;

    }

.daily-mix {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-shrink: 1;

    }
.daily-mix > img  {
    width: 100px;
    margin-left: 35px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.round {
    border-radius: 70px;
    flex-wrap: wrap;
}

.cube{
    margin-top: 40px;
    flex-wrap: wrap;
}


footer {
    height: 80px;
    width: 100%;
    background-color: #3f3f3f;
    display: flex;

    }

}

/* media query cellulare */

@media screen and (max-width:420px){

.wrapper::after{
    clear:both;
    content:"";
    display:table;

        }

.container{
    max-width: 420px;
    margin:auto;
    }

.menu {
    display: none;
    }

.hamburger-menu {
    display: block;
    }
.fa-bars:before {
    content: "\f0c9";
    color: white;
    margin-left: 10px;
    font-size: 30px;
    }

.sidebar {
    height:calc(100vh - 40px);
    background-color: #2b270c;
    width: 20%;
    float: left;
    display: flex;
        /* flex-shrink: 2; */
        }
.sidebar-top{
    margin-top: 20px;
    margin-left: 20px;
}

.logo{
display: none;
}

.logo-piccolo {
display:block;
}
.fa-spotify:before {
    display: block;
    content: "\f1bc";
    color: white;
    font-size: 30px;
}

.paragrafo {
    display:none;
}
main {
    height:calc(100vh - 40px);
    width: 80%;
    float: left;
    overflow: auto;

        }
.title-playlist {
    display:flex;
    /* margin-left: 158px; */
    margin-top: 38px;
    margin-left:20px;

        }

.daily-mix {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 3;
        }

.daily-mix > img  {
    width: 80px;
    margin-left: 35px;
    margin-top: 30px;
    flex-wrap: wrap;
    flex-shrink: 3;

}
.round {
    border-radius: 70px;
    flex-wrap: wrap;
}

.cube{
    margin-top: 40px;
    flex-wrap: wrap;
}


footer {
    height: 40px;
    width: 80%;
    background-color: #3f3f3f;
    display: flex;

        }

    }
